.managerArticleCellContainer{
    border-bottom: solid thin #ddd;
    margin: 10px 0px;
}

.cellOperation{

    align: center;
    justify: space-around;
    float: right;
}
.articleInfo span{
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    color: #6b6b6b;
}